{
  "env": {
    "browser": true,
    "es6": true
    // "jest": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "18.2.0"
    }
  },
  "plugins": ["prettier"],
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:prettier/recommended"
  ],
  "ignorePatterns": ["vite.config.js"],
  "rules": {
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "newlines-between": "never",
        "alphabetize": {
          "order": "asc" /* sort in ascending order. Options: ['ignore', 'asc', 'desc'] */,
          "caseInsensitive": false /* ignore case. Options: [true, false] */
        }
      }
    ]
  }
}
